
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #f1f3f6;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #2c3e50;
}

nav {
    background-color: #2c3e50;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav a {
    color: #f1c40f;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 14px;
    transition: background-color 0.3s;
    border-radius: 4px;
}

nav a:hover {
    background-color: #34495e;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

#productos div {
    background: white;
    border-radius: 12px;
    padding: 20px;
    width: 260px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

#productos div:hover {
    transform: translateY(-5px);
}

#productos h3 {
    margin-bottom: 10px;
    color: #2980b9;
}

#productos button {
    background-color: #27ae60;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#productos button:hover {
    background-color: #1e8449;
}
/*inicio de secion*/
form {
    max-width: 400px;
    margin: 30px auto;
    padding: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
/*inicio de secion*/
form input, form button {
    width: 100%;
    padding: 9px;
    margin-bottom: 15px;
    border-radius: 16px;
    border: 1px solid #ccc;
    font-size: 16px;
    
}
/*inicio de secion*/
form button {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    border: none;
    
}

form button:hover {
    background-color: #2980b9;
}

#carrito {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    list-style: none;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

#carrito li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

button {
    cursor: pointer;
}


.boton-confirmar {
    background: linear-gradient(90deg, #f39c12, #e67e22);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    margin: 20px auto;
    display: block;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background 0.3s ease;
}

.boton-confirmar:hover {
    background: linear-gradient(90deg, #e67e22, #d35400);
}
